.admin {
    &-container {
        position: relative;

        .main-content {
            padding-left: 220px;
            padding-top: 70px;
        }
    }
    &-header {
        @include flexbox(row, center, space-between);
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 50px;
        background-color: #fff;
        padding: $padding $padding * 4;

        &__right {
            @include flexbox(row, center, initial);

            button {
                margin-left: $margin * 2;
            }
        }
    }
    &-sidebar {
        position: absolute;

        & > ul {
            padding-top: 50px;
        }
    }
}
