.user-container {
    padding: 25px 50px;
}
.site-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #000;
    padding: $padding / 1.5 $padding * 2;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.btn-buy {
    background-color: transparent;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.buy-now {
    background-color: $warning;
    border-color: darken($warning, 10%);
    color: white;

    &:hover {
        background-color: darken($warning, 10%);
        color: #fff;
        border-color: darken($warning, 10%);
    }
}

.add-cart {
    background-color: transparent;

    &:hover {
        background-color: $warning;
        color: #fff;
        border-color: darken($warning, 10%);
    }
}

.hero-banner {
    @include flexbox(row, center, space-between);
    height: 300px;
    margin-top: 70px;

    button {
        max-width: 150px;
    }

    img {
        width: 400px;
    }

    &__left {
        @include flexbox(column, initial, space-between);
        width: 50%;
        height: 100%;
        p {
            line-height: 25px;
        }

        h2 {
            margin-top: $margin;
        }
    }
    &__right {
        width: 50%;
        text-align: right;
    }
}


.page-title {
    margin: $margin * 4 auto;
    text-align: center;
}
